<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Shop</title>
	<link rel="stylesheet" type="text/css" href="/css/Style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="https://thyboutique.herokuapp.com/">THY BOUTIQUE</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			
				<li class="nav-item">
					<a class="nav-link" href="/admin/category">Loại sản phẩm</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/order">Đơn hàng</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/user">Người dùng</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/charity">Hoạt động</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/promotion">Khuyến mãi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/product">Sản phẩm</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/history">Lịch sử chuyến đi</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="panel">
		<div class="row panel-body" style="background-color: bisque;">
			<div class="col-lg-12 text-center">
				<h1>Danh sách hoạt động từ thiện</h1>
			</div>
			<div class="col-lg-12">
				<table class="table table-dark">
					<thead>
						<tr>
							<th scope="col">Mã hoạt động</th>
							<th scope="col">Tên hoạt động</th>
							<th scope="col">Số tiền mong muốn</th>
							<th scope="col">Số tiền hiện tại</th>
							<th scope="col">Ngày bắt đầu</th>
							<th scope="col">Ngày kết thúc</th>
							<th scope="col">Trạng thái</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% for(var i=0; i < listCharity.length; i++) { %>
						<tr>
							<th scope="row"><%= listCharity[i].charityCode %></th>
							<td><%= listCharity[i].charityName %></td>
							<td><%= listCharity[i].target %></td>
							<td><%= listCharity[i].currentBudget %></td>
							<td><%= listCharity[i].startTime %></td>
							<td><%= listCharity[i].finishTime %></td>
							<td>
								<% if(listCharity[i].status == 'ACTIVE'){ %>
									Đang hoạt động
								<% } %>
								<% if(listCharity[i].status == 'INACTIVE'){ %>
									Chưa bắt đầu
								<% } %>
								<% if(listCharity[i].status == 'EXPIRED'){ %>
									Đã hết hạn
								<% } %>
							</td>
							<td>
								<a href="/admin/charity/id=<%= listCharity[i].id %>" class="btn btn-danger">
									Xóa
								</a>
								<a href="/admin/charity/id=<%= listCharity[i].id %>" class="btn btn-success">
									Cập nhật
								</a>
							</td>
						</tr>
						<% } %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row panel-body" style="margin-top:20px; background-color: bisque; padding-bottom: 20px;">
			<div class="col-lg-12 text-center">
				<h1>Tạo hoạt động từ thiện</h1>
			</div>
			<div class="col-lg-12">
				<form method="POST" style="background-color:#454d55;padding: 20px;">
					<div class="form-group">
						<label for="name-category" style="color: white;">Mã hoạt động:</label>
						<input type="text" class="form-control" name="code" id="code">
					</div>
					<div class="form-group">
						<label for="name-category" style="color: white;">Tên hoạt động:</label>
						<input type="text" class="form-control" name="name" id="name">
					</div>
					<div class="form-group">
						<label for="name-category" style="color: white;">Số tiền mong muốn:</label>
						<input type="number" class="form-control" name="target" id="target">
					</div>
					<div class="form-group">
						<label for="name-category" style="color: white;">Địa chỉ:</label>
						<input type="text" class="form-control" name="address" id="address">
					</div>
					<div class="form-group">
						<label for="name-category" style="color: white;">Ngày bắt đầu:</label>
						<input type="date" class="form-control" name="startDate" id="startDate">
					</div>
					<div class="form-group">
						<label for="name-category" style="color: white;">Ngày kết thúc:</label>
						<input type="date" class="form-control" name="endDate" id="endDate">
					</div>
					<div class="text-right">
						<button type="submit" class="btn btn-primary">Thêm hoạt động</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>