<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shop</title>
	<link rel="stylesheet" type="text/css" href="/css/Style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <a id="topBtn">
        <i class="fas fa-arrow-circle-up"></i>
    </a>
    <div class="header" id="top">
        <nav class="nav">
            <div class="logo">
                <h4>BOOK STORE</h4>
            </div>
            <form action="/auth/logout" method="POST" id="frmSignout"></form>
            <ul class="nav-links">
                <li><a href="">HOME </a></li>
                <li><a href="">ABOUT <i class="fas fa-chevron-down"></i></a>
                    <ul class="child-links">
                        <li><a href="">ME</a></li>
                        <li><a href="">HISTORY</a></li>
                    </ul>
                </li>
                <% if(isAuthenticated != true){ %>
                <li><a href="">USER <i class="fas fa-chevron-down"></i></a>
                    <ul class="child-links">
                        <li><a href="/auth/login">Login</a></li>
                        <li><a href="/auth/register">Register</a></li>
                    </ul>
                </li>
                <% } %>
                <% if(isAuthenticated == true){ %>
                <li><a href="">Hi,Tien<i class="fas fa-chevron-down"></i></a>
                    <ul class="child-links">
                        <li><a href="javascript: $('#frmSignout').submit();">Logout</a></li>
                        <li><a href="/auth/profile">Profile</a></li>
                        <li><a href="/order/payment">Payment</a></li>
                    </ul>
                </li>
                <% } %>
                <li><a href="/product/cart"><i class="fas fa-cart-plus"></i> <span><%=numberOfProInCart %></span></a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>

    <div class="container " style="margin-top: 7%;">
        <div class="row">
            <div class="col-8" >
                <div class="row col-12">
                    <div class="detail-header col-12" style="margin: 1rem 0px;">
                        <a href="" class="Name-Product" style="font-size: 1.1rem">HOME</a> /
                        <a href="" class="Name-Product" style="font-size: 1.1rem">CART</a> /
                        <a href="" class="Name-Product" style="font-size: 1.1rem">PAYMENT</a>
                    </div>

                    <div class="col-12">
                        <h1 class="text-center">CHECKOUT FORM</h1>
                        <form method="POST">
                            <div class="form-row">
                               <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" id="inputName" name="name" placeholder="Full name">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" name="address" placeholder="227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP. HCM">
                        </div>
                        <div class="form-group">
                            <label for="inputNumbers">Telephone numbers</label>
                            <input type="text" class="form-control" id="inputNumbers" name="numbers" placeholder="01234 569 851">
                        </div>
<!--                                 <div class="form-row">
                                    <div class="form-group col-md-6">
                                    <label for="inputCity">City</label>
                                    <input type="text" class="form-control" id="inputCity">
                                    </div>
                                    <div class="form-group col-md-4">
                                    <label for="inputState">State</label>
                                    <select id="inputState" class="form-control">
                                        <option selected>Choose...</option>
                                        <option>...</option>
                                    </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                    <label for="inputZip">Zip</label>
                                    <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                        Check me out
                                    </label>
                                    </div>
                                </div> -->
                                <h3 style="border-top: 1px solid #333;">PAYMENT METHOD</h3>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                    <label class="form-check-label" for="exampleRadios1">
                                        COD
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mt-2">CHECK OUT</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row cart">
                        <div class="col-12">
                            <h1 class="text-center text-white">Your Cart</h1>
                        </div>
                        <div class="row col-12" style="padding: 5%;">
                            <% for(var i= 0; i < cart.length; i++) { %>
                            <div class="col-4">
                                <img src="<%=cart[i].ProImg %>" class="Image-cart" alt="">
                            </div>
                            <div class="row col-8">
                                <div class="col-10">
                                    <h6 class="text-white"><%= cart[i].ProName %></h6>
                                    <h6 > <%= cart[i].ProCurrentPrice%></h6>
                                    <a href="/product/cart/remove/<%= cart[i].ProId %>" class="Name-Product-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                <div class="row col-2 text-center">
                                    <a href="/product/cart/add/<%= cart[i].ProId %>" class="Name-Product-1">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                    <span ><%= cart[i].ProAmount%></span>
                                    <a href="/product/cart/sub/<%= cart[i].ProId %>" class="Name-Product-1">
                                        <i class="fas fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <div class="col-12 text-center">
                            <h5 class="text-white">Total: <%=total%></h5>
                        </div>  
                        <div class="col-12 text-center" style="margin: 7% 0;">
                            <a href="/order/payment" class="clean-btn">
                                PAY
                            </a>
                        </div>  
                    </div>

                </div>
            </div>
            
        </div>

        <footer>
            <div class=" footer" style="margin-top: 5rem;">
                <div class="row">
                    <div class="col-4">
                        <h4 class="text-white text-center title-footer">Dịch vụ</h4>
                        <ul class="list-group list-group-flush list-footer">
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Điều khoản sử dụng</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Chính sách bảo mật</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Giới thiệu</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Hệ thống trung tâm cửa hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h4 class="text-white text-center title-footer" >Hỗ trợ</h4>
                        <ul class="list-group list-group-flush list-footer">
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Chính sách khuyến mãi</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Phương thức thanh toán</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Phương thức vận chuyển</a>
                            </li>
                            <li class="list-group-item">
                                <a href="" class="Name-Product-1">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <h4 class="text-white text-center title-footer">Liên hệ</h4>
                        <ul class="list-group list-group-flush list-footer">
                            <li class="list-group-item">
                                <i class="fas fa-map-marker-alt"></i>
                                <p>Địa chỉ: 595 CMT8 Phường 12 Quận 5 TPHCM</p>
                            </li>
                            <li class="list-group-item">
                                <i class="far fa-envelope"></i>
                                <p>1612694@student.hcmus.edu.vn</p>
                            </li>
                            <li class="list-group-item">
                                <i class="fas fa-phone"></i>
                                <p>0123456789</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div class="quote-primary">
                            <img src="/images/logo.jpg" class="logo-footer" alt="">
                        </div>
                    </div>
                    <div class="col-6">
                        <h4 class="text-white text-center title-footer">Follow us</h4>
                        <div class="text-center">
                            <a href="" class="icon-footer">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="" class="icon-footer">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="" class="icon-footer">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="icon-footer">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </div>
                        <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum enim iusto laudantium sed officiis pariatur facilis repellendus doloribus omnis consequuntur cupiditate quas minus doloremque nihil perferendis libero qui, quae magni.</p>
                    </div>
                </div>
            </div>
        </footer>
        <script src="/js/nav.js"></script>
        <script>
          $(document).ready(function(){

             $(window).scroll(function(){
                if($(this).scrollTop() > 40) 
                {
                   $("#topBtn").fadeIn();
               }else
               {
                   $("#topBtn").fadeOut();
               }
           });

             $("#topBtn").click(function(){
                $("html,body").animate({scrollTop: 0},800);
            });
         })
     </script>
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
 </html>